{% extends 'website/base.html' %}

{% block content %}
<section class="bg-gray-100 py-16">
    <div class="container mx-auto px-4">
        <!-- Titulli i faqes -->
        <div class="text-center mb-12">
            <h1 class="text-4xl font-bold text-blue-600 mb-4">Na Kontaktoni</h1>
            <p class="text-lg text-gray-700">
                Kemi kënaqësinë t'ju ndihmojmë për çdo pyetje apo kërkesë që mund të keni. Mos hezitoni të na kontaktoni!
            </p>
        </div>


{% endblock %}
