# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
*.sqlite3

# Django secret keys
.env

# Static and media files
staticfiles/
media/

# Logs and database
db.sqlite3
*.log
